<ion-view view-title="Agenda">
  <ion-content>
    <ion-list>
      <div class="item item-assertive item-divider item-divider-ios">Ontem</div>
      <a class="item item-avatar item-stable item-icon-right" href="#/app/order/{{tasks[5].id}}">
        <img src="venkman.jpg">
        <h2>Vilma Soares</h2>
        <h3>27 9 5773-2392</h3>
        <i class="icon ion-ios7-undo-outline assertive"></i>
      </a>


      <div class="item item-positive item-divider item-divider-ios">Hoje</div>

      <a class="item item-avatar item-stable item-icon-right" href="#/app/order/{{tasks[5].id}}">
        <img src="cover.jpg">
        <h2>Patricia Gontijo</h2>
        <p>Rua cupuaçu, 65 Apto 12 Bloco 3<br> Praia da Costa - Vila Velha - ES</p>
        <h3>11 9 9949-1499</h3>
        <i class="icon ion-ios7-redo positive"></i>
      </a>

      <a class="item item-avatar item-stable item-icon-right" href="#/app/order/{{tasks[5].id}}">
        <img src="venkman.jpg">
        <h2>Feliciano Ramos</h2>
        <h3>27 9 5773-2392</h3>

      </a>

      <a class="item item-avatar item-stable item-icon-right" href="#/app/order/{{tasks[5].id}}">
        <img src="venkman.jpg">
        <h2>Giovana</h2>
        <h3>27 9 5773-2392</h3>
        <i class="icon ion-ios7-undo-outline positive"></i>
      </a>

      <div class="item item-positive item-divider item-divider-ios">Amanhã</div>
      <a class="item item-avatar item-stable item-icon-right" href="#/app/order/{{tasks[5].id}}">
        <img src="cover.jpg">
        <h2>Raquel da rocha Lemos <i class="icon ion-android-done balanced"></i></h2>
        <p>Rua cupuaçu, 65 Apto 12 Bloco 3<br> Praia da Costa - Vila Velha - ES</p>
        <h3>11 9 9949-1499</h3>
        <i class="icon ion-ios7-redo-outline positive"></i>
      </a>


    </ion-list>
  </ion-content>
</ion-view>
